body {
  background-color: #ffae88;
}
.fill-page {
  height: 100vh;
  width: 100%;
}
.float-right {
  float: right;
}
.top-panel {
  background-color: #fff;
  display: block;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 992px) {
  .top-panel {
    background: linear-gradient(to left, #ed562c 0%, #ef4d1f 100%);
    position: fixed;
    width: 100%;
    z-index: 100;
  }
}
#data-container {
  height: 100vh;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 150px;
  padding-right: 150px;
}
@media (max-width: 992px) {
  #data-container {
    padding: 0;
  }
}
#box-container {
  height: 100%;
  box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.75);
}
#left-pane-heading {
  border-bottom: 5px;
  float: left;
  height: 65px;
  padding-left: 2px;
  text-align: left;
}
#right-eywa-heading {
  margin-bottom: 6px;
  margin-top: 5px;
  padding-top: 3px;
  font-family: 'Pacifico', cursive;
  color: #fff;
  visibility: hidden;
}
@media (max-width: 992px) {
  #right-eywa-heading {
    visibility: visible;
  }
}
#usr-dat {
  border-bottom: 5px;
  float: right;
  height: 65px;
  margin-right: 2px;
  padding-top: 15px;
}
.gsignin {
  display: none;
  margin-right: 0;
  margin-top: -5px;
}
#user-profile {
  cursor: pointer;
  display: none;
  margin-right: 0;
  margin-top: -5px;
  box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.4);
}
#user-profile:hover {
  box-shadow: 0px 5px 25px 4px rgba(0,0,0,0.4);
}
#signinpopup {
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
  height: 100px;
  width: 300px;
  padding: 10px;
}
#somtop {
  width: 100%;
  height: 5px;
}
#som-img {
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sombottom {
  height: 80px;
  padding-top: 15px;
}
#som-u-name {
  width: 100%;
  color: #000;
  text-align: center;
  margin: 0;
}
#som-u-email {
  color: #95a5a6;
  right: 0px;
  width: 100%;
  text-align: center;
  margin: 0;
}
#som-signout {
  cursor: pointer;
  text-decoration: underline;
}
#som-signout display inline-block {
  margin-right: 0;
}
#user-name {
  display: none;
  margin-right: 20px;
  margin-top: 10px;
  font-family: "Open Sans", monaco, Consolas, monospace;
  font-size: 14px;
  color: #000;
}
@media (max-width: 992px) {
  #user-name {
    visibility: hidden;
  }
}
.bottom-panel {
  height: 100%;
}
#left-pane {
/* background-image url("../images/leftback.jpg") */
/* background-repeat no-repeat */
/* background-size cover */
  background: linear-gradient(to top, #ed562c 0%, #ef4d1f 100%);
  color: #fff;
  height: 100%;
  padding: 10px;
}
@media (max-width: 992px) {
  #left-pane {
    border-radius: 0;
  }
}
#left-top-pane-heading {
  border-bottom: 5px;
  height: 65px;
  text-align: center;
}
#left-eywa-heading {
  margin-top: 5px;
  padding-top: 3px;
  width: 100%;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #fff;
  display: inline-block;
}
@media (max-width: 992px) {
  #left-eywa-heading {
    display: none;
  }
}
#right-pane {
  background-color: #fff;
  color: #fff;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (max-width: 992px) {
  #right-pane {
    border-radius: 0;
    padding: 0;
  }
}
#chat-box-wrapper {
  color: #fff;
  height: calc(100% - 70px);
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 10px;
  padding-top: 1px;
}
@media (max-width: 992px) {
  #chat-box-wrapper {
    padding-top: 70px;
    height: 100%;
  }
}
.chat-bottom {
  background-color: #cacfd2;
  height: 34px;
}
#chat-send-button {
  background-color: #cacfd2;
  border: 0 solid #34495e;
  box-shadow: 0 0 0 #b2b2b2;
  cursor: pointer;
  float: right;
  height: 34px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  width: 50px;
  animation-duration: 0.5s;
}
#chat-message-text {
  background-color: #cacfd2;
  border: 0 solid #34495e;
  box-shadow: 0 0 0 #b2b2b2;
  color: #000;
  float: left;
  font-family: "Open Sans", sans-serif;
  height: 34px;
  outline: none;
  padding-left: 13px;
  width: calc(100% - 50px);
  overflow-x: hidden;
}
#chat-msg-box {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
@media (max-width: 992px) {
  .chat-messages {
    padding: 0px;
  }
}
#chat-msg-box::-webkit-scrollbar {
  width: 0 !important;
}
.msg_ai {
  background-color: #fff;
  background-color: #f63b00;
  clear: both;
  color: #fff;
  float: left;
  margin-bottom: 15px;
  margin-right: auto;
  margin: 7px;
  max-width: 70%;
  min-width: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  word-wrap: break-word;
}
.img_ai {
  height: auto;
  max-width: 100%;
}
.msg_user {
  background-color: #7f8c8d;
  clear: both;
  color: #fff;
  float: right;
  margin-bottom: 15px;
  margin-left: auto;
  margin: 7px;
  max-width: 70%;
  min-width: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  word-wrap: break-word;
}
.data-pane {
  height: 100%;
  min-height: 100%;
  padding: 20px;
  width: 100%;
}
.image {
  height: 5px;
  width: 5px;
}
#fullscreenimage {
  max-height: 90vh;
  max-width: 90vw;
}
