.fill-page{
    width: 100%;
    height: 100vh;
    background-color: rgba(44, 62, 80,1.0);
    /*background-image: url("../img/back.svg");*/
}
.top-panel{
    padding: 1px;
    padding-left: 20px;
    background-color: rgba(236, 240, 241,1.0);
    height: 70px;
}
#data-container{
    padding-bottom: 50px;
    padding-top: 50px;
    height: 100vh;
}
#left-pane-heading{
    font-family: "Roboto", helvetica, sans-serif;
    font-weight: 100;
    text-align: left;
    width: 80%;
    float: left;
    clear: both;
}
.signinbutton{
    float: right;
    clear: both;
    padding-right: 0px;
}
#left-pane{
    /*background-color: #3498db;*/
    /*background-color: rgba(52, 152, 219,1.0);*/
    background-color: rgba(189, 195, 199,1.0);
    color: #fff;
    padding: 10px;
    height: 93%;
    /*border-radius: 150px;*/
    clear: both;
}
#right-pane{
    /*background-color: #95a5a6;*/
    /*background-color: rgba(149, 165, 166,1.0);*/
    background-color: white;
    color: #fff;
    /*padding: 10px;*/
    padding-bottom: 10px;
    padding-top: 10px;
    height: 93%;
    /*border-radius: 150px;*/
    clear: right;
}
.chat-box-wrapper{
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: #fff;
}
.chat-box-wrapper{
    padding: 30px;
    padding-bottom: 20px;
    min-height: 100%;
    /*border: 2px solid #ddd;*/
    margin: 0 auto;
}
.chat-messages{
    width: 100%;
    height: 92%;
    min-height: 85%;
    padding: 30px;
    /*background-color: rgba(52, 73, 94,1.0);*/
    /*border-bottom: 1px solid #000;*/
    overflow-y: auto;
}
.chat-bottom{
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
.chat-send-button{
    padding: 5px;
    cursor: pointer;
}
.chat-message-text{
    width: 60%;
    height: 34px;
    padding: 3px;
    font-family: "Raleway",sans-serif;
    background-color: #95a5a6;
    background-color: rgba(139, 165, 166,0.5);
}
.msg_ai{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    /*border: 2px solid #34495e;*/
    background-color: rgba(241, 196, 15,0.5);
    margin: 7px;
    /*margin-right: 190px;*/
    /*width: 70%;*/
    min-width: 10%; /* Overrides max-width */
    /*width: 100%;*/
    max-width: 70%; /* Will be AT MOST 20em wide */
    margin-bottom: 15px;
    box-shadow: 0 0 6px #B2B2B2;
    font-family: "Raleway", helvetica, sans-serif;
    float: left;
    clear: right;
    font-size: 15px;
}
.msg_user{
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    /*border: 2px solid #8e44ad;*/
    background-color: rgba(46, 204, 113,0.5);
    margin: 7px;
    /*margin-left: 190px;*/
    margin-left: auto;
    /*text-align: right;*/
    /*width: 70%;*/
    min-width: 10%; /* Overrides max-width */
    /*width: 100%;*/
    max-width: 70%; /* Will be AT MOST 20em wide */
    margin-bottom: 15px;
    box-shadow: 0 0 6px #B2B2B2;
    font-family: "Raleway", helvetica, sans-serif;
    float: right;
    clear: left;
    font-size: 15px;
}
.data-pane{
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 20px;
}
.image{
    width: 5px;
    height: 5px;
}
.text{
}
