body{
    border: 10px;
    font-family: "Robot",sans-serif;
}
h1{
    font-family: "Roboto",helvetica,sans-serif;
}
p{
    font-family: "Raleway", helvetica, sans-serif;
}
.fill-page{
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: 0px;
}
.roboto-font{
    font-family: "Roboto";
}
.big-font{
    font-size: 50px;
}
.huge-font{
    font-size: 100px;
}
.weighted-font{
    font-weight: 300;
}
.padding-added{
    padding: 50px;
}
.padded-top{
    padding-top: 70px;
}
@media (max-width: 480px) {
.padded-top{
    padding-top: 20px;
}
}
.chat-box-wrapper{
    padding: 30px;
    float: right;
    width: 70%;
    height: 90%;
    min-height: 90%;
    border: 2px solid #ddd;
}
@media (max-width: 480px) {
.chat-box-wrapper{
    padding: 5px;
    width: 100%;
    height: 90%;
    min-height: 90%;
    border: 2px solid #ddd;
    padding-bottom: 20px;
}
}
.chat-messages{
    width: 100%;
    height: 55vh;
    /*min-height: 85%;*/
    background: white;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    overflow-y: auto;
}
@media (max-width: 480px) {
.chat-messages{
    width: 100%;
    height: 75vh;
    /*min-height: 85%;*/
    background: white;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    overflow-y: auto;
}
}
.chat-bottom{
    padding: 15px;
}
.chat-send-button{
    padding: 5px;
    border: 2px solid #ddd;
    background: #fff;
    cursor: pointer;
    font-family: "Raleway",sans-serif;
    font-weight: 300;
}
.chat-message-text{
    width: 85%;
    height: 34px;
    background: white;
    padding: 3px;
    border: 2px solid #ddd;
    font-family: "Raleway",sans-serif;
}
@media (max-width: 480px) {
.chat-message-text{
    width: 75%;
    height: 34px;
    background: white;
    padding: 3px;
    border: 2px solid #ddd;
    font-family: "Raleway",sans-serif;
}
}
.msg_ai{
    border-radius: 5px;
    padding: 6px;
    border: 2px solid #34495e;
    margin: 7px;
    margin-right: 60px;
    box-shadow: 0 0 6px #B2B2B2;
}
.msg_user{
    border-radius: 5px;
    padding: 6px;
    border: 2px solid #8e44ad;
    margin: 7px;
    margin-left: 60px;
    box-shadow: 0 0 6px #B2B2B2;
}
