
{% extends "ai/base.html" %}
{% block content%}
<div class="fill-page" id="top">
  <div class="container" id="data-container">
    <div id="box-container">
      <div class="top-panel">
        <div class="col-lg-6">
          <div id="left-pane-heading">
            <h1 id="heading">eywa</h1>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="usr-img" id="usr-dat">
            <div id="user-name">
              <!-- Would contain the user name-->
            </div><img class="img-circle" id="user-profile" width="50" height="50" src="../static/ai/images/profile.png" alt="google plus"/>
            <div class="gsignin">
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-panel">
        <div class="col-md-8 col-md-push-4" id="right-pane">
          <div class="chat-box-wrapper" id="chat">
            <div class="chat-messages" id="chat-msg-box">
              <div class="msg_user">Hello eywa</div>
              <div class="msg_ai">Hey, what's up? </div>
              <div class="reference"></div>
            </div>
            <div class="chat-bottom">
              <form id="chat-box" action="#" method="post" onsubmit="return false" autocomplete="off">{% csrf_token %}
                <input id="chat-message-text" type="text" placeholder="your message.."/><span class="input-group-btn">
                  <button class="btn" id="chat-send-button" type="button"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button></span>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-pull-8" id="left-pane">
          <div class="data-pane"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popupbox">
  <div id="signinpopup">
    <div id="signoutmenu">
      <div class="col-sm-4" id="somleft"><img id="som-img" src="../static/ai/images/profile.png" alt="Image"/></div>
      <div class="col-sm-8" id="somright">
        <p id="som-u-name"></p>
        <p id="som-u-email"></p>
        <p id="som-signout">Sign out</p>
      </div>
    </div>
  </div>
</div>{% endblock %}