{% extends "ai/base.html" %}

{% block content%}

<div class="fill-page">
    <h1 class = "text-center roboto-font big-font">Hey!</h1>
</div>

<div id="chat" class="chat-box-wrapper">
    <div class="chat-messages">
       <div class="msg_user">
            Hello eywa! 
       </div>
       <div class="msg_ai">
           Hey there
       </div>
       <div class="reference"></div>
    </div>
    <div class="chat-bottom">
        <form action="#" method="post" onSubmit="return false" id="chat-box">
           <!--<input type="hidden" name="user-name" id="name" value="usr-name">-->
           <input class="chat-message-text" type="text" name="querry-term" id="message" value="" placeholder="Type your message..">
           <input class="chat-send-button" type="submit" name="submit" value="Send">
        </form>
    </div>
</div>

{% endblock %}
