{% extends "ai/base.html" %}

{% block content%}

<div id="top" class="fill-page">
    <div id="data-container" class="container">
    <div class="top-panel">
            <h1 id="left-pane-heading" class="text-center">eywa</h1>
            <button class="g-signin"
                    id = "signinButton"
                    data-scope="https://www.googleapis.com/auth/plus.login"
                    data-clientid="854543947083-utnu74nr2d4rjke4pg0urcg6454aamqr.apps.googleusercontent.com"
                    data-theme="dark"
                    data-cookiepolicy="single_host_origin"
                    data-requestvisibleactions="http://schemas.google.com/AddActivity"
                    data-width="wide">
            </button>
            <button id="signout">signout</button>
            <div id="profile"></div>
            <!--<img id="gsignint-" src="../img/gp.png" alt="G+">-->
    </div>
        <div class="col-lg-4" id="left-pane">
            <!--<h1 id="left-pane-heading" class="text-center">eywa</h1>-->
            <div class="data-pane">
                <div class="cell">
                <div class="image">
                    <img src="http://www.dreveterinary.com/lib/img/placeholder_small.png" alt="">
                </div>
                <div class="text">
                </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8" id="right-pane">
            <div id="chat" class="chat-box-wrapper">
                <div class="chat-messages" id="chat-msg-box">
                    <div class="msg_user">
                        Hello eywa! 
                    </div>
                    <div class="msg_ai">
                        Hey there
                    </div>
                    <div class="reference"></div>
                </div>
                <div class="chat-bottom">
                    <form action="#" method="post" onSubmit="return false" id="chat-box">
                        <div class="input-group">
                            <input type="text" id="chat-message-text" class="form-control" placeholder="Type your message...">
                            <span class="input-group-btn">
                                <button class="btn btn-success" id="chat-send-button" type="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
